In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [14]:
data = pd.read_csv('Speed Dating Data.csv', encoding="ISO-8859-1")

In [15]:
data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [16]:
columns = ['iid',
'age',
'gender',
'idg', 
'pid',
'match',
'samerace',
'age_o',
'race_o',
'dec_o',
'field_cd',
'race',
'imprace',
'imprelig',
'from',
'goal',
'date',
'go_out',
'career_c',
'sports',
'tvsports',
'exercise',
'dining',
'museums',
'art',
'hiking',
'gaming',
'clubbing', 
'reading',
'tv',
'theater',
'movies',
'concerts',
'music',
'shopping',
'yoga',
'dec',
'attr',
'sinc',
'intel',
'fun',
'amb',
'like',
'prob',
'met'
]

data = data[columns]

In [17]:
data.head()

,iid,age,gender,idg,pid,match,samerace,age_o,race_o,dec_o,...,yoga,dec,attr,sinc,intel,fun,amb,like,prob,met
0,1,21.0,0,1,11.0,0,0,27.0,2.0,0,...,1.0,1,6.0,9.0,7.0,7.0,6.0,7.0,6.0,2.0
1,1,21.0,0,1,12.0,0,0,22.0,2.0,0,...,1.0,1,7.0,8.0,7.0,8.0,5.0,7.0,5.0,1.0
2,1,21.0,0,1,13.0,1,1,22.0,4.0,1,...,1.0,1,5.0,8.0,9.0,8.0,5.0,7.0,NaN,1.0
3,1,21.0,0,1,14.0,1,0,23.0,2.0,1,...,1.0,1,7.0,6.0,8.0,7.0,6.0,7.0,6.0,2.0
4,1,21.0,0,1,15.0,1,0,24.0,3.0,1,...,1.0,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,2.0

In [18]:
data.shape

(8378, 45)

In [19]:
data.dropna(inplace=True)

In [20]:
data.head()

,iid,age,gender,idg,pid,match,samerace,age_o,race_o,dec_o,...,yoga,dec,attr,sinc,intel,fun,amb,like,prob,met
30,4,23.0,0,7,11.0,0,1,27.0,2.0,0,...,8.0,0,4.0,10.0,8.0,5.0,8.0,6.0,7.0,2.0
31,4,23.0,0,7,12.0,0,1,22.0,2.0,0,...,8.0,0,8.0,7.0,8.0,10.0,7.0,8.0,1.0,1.0
32,4,23.0,0,7,13.0,0,0,22.0,4.0,1,...,8.0,0,4.0,7.0,8.0,8.0,6.0,4.0,1.0,2.0
33,4,23.0,0,7,14.0,1,1,23.0,2.0,1,...,8.0,1,8.0,10.0,7.0,10.0,7.0,8.0,10.0,1.0
34,4,23.0,0,7,15.0,0,0,24.0,3.0,1,...,8.0,0,6.0,9.0,8.0,9.0,8.0,7.0,7.0,2.0

In [21]:
data.shape

(7065, 45)

In [22]:
racedict = { 1 : 'black',
             2 : 'white',
             3 : 'latino',
             4 : 'asian',
             5 : 'native american',
             6 : 'other'}

In [23]:
def raceindex(n):
    if n < 1 or n > 6:
        return racedict[0]
    return racedict[n]

In [ ]:
#applies function inside brace to the column
data['race'] = data['race'].apply(raceindex)

#applies and maps the dict values automatically
data['race_o'] = data['race_o'].map(racedict)

In [28]:
data.head

<bound method NDFrame.head of       iid   age  gender  idg    pid  match  samerace  age_o  race_o  dec_o  \
30      4  23.0       0    7   11.0      0         1   27.0   white      0
31      4  23.0       0    7   12.0      0         1   22.0   white      0
32      4  23.0       0    7   13.0      0         0   22.0   asian      1
33      4  23.0       0    7   14.0      1         1   23.0   white      1
34      4  23.0       0    7   15.0      0         0   24.0  latino      1
35      4  23.0       0    7   16.0      0         1   25.0   white      1
36      4  23.0       0    7   17.0      0         1   30.0   white      1
37      4  23.0       0    7   18.0      0         1   27.0   white      0
38      4  23.0       0    7   19.0      1         1   28.0   white      1
39      4  23.0       0    7   20.0      0         1   24.0   white      0
40      5  21.0       0    9   11.0      0         1   27.0   white      0
41      5  21.0       0    9   12.0      0         1   22.0   white      0
42      5  21.0       0    9   13.0      0         0   22.0   asian      1
43      5  21.0       0    9   14.0      1         1   23.0   white      1
44      5  21.0       0    9   15.0      0         0   24.0  latino      0
45      5  21.0       0    9   16.0      0         1   25.0   white      0
46      5  21.0       0    9   17.0      0         1   30.0   white      0
47      5  21.0       0    9   18.0      0         1   27.0   white      0
48      5  21.0       0    9   19.0      1         1   28.0   white      1
49      5  21.0       0    9   20.0      0         1   24.0   white      0
50      6  23.0       0   11   11.0      0         0   27.0   white      0
51      6  23.0       0   11   12.0      0         0   22.0   white      0
52      6  23.0       0   11   13.0      0         1   22.0   asian      1
53      6  23.0       0   11   14.0      1         0   23.0   white      1
54      6  23.0       0   11   15.0      0         0   24.0  latino      1
55      6  23.0       0   11   16.0      0         0   25.0   white      1
56      6  23.0       0   11   17.0      0         0   30.0   white      0
57      6  23.0       0   11   18.0      0         0   27.0   white      0
58      6  23.0       0   11   19.0      1         0   28.0   white      1
59      6  23.0       0   11   20.0      0         0   24.0   white      0
...   ...   ...     ...  ...    ...    ...       ...    ...     ...    ...
8340  551  27.0       1   42  515.0      0         0   23.0   white      0
8341  551  27.0       1   42  516.0      1         0   27.0   asian      1
8342  551  27.0       1   42  517.0      0         0   30.0  latino      0
8343  551  27.0       1   42  518.0      0         0   23.0   white      0
8345  551  27.0       1   42  520.0      0         0   28.0   other      0
8346  551  27.0       1   42  521.0      1         0   26.0   white      1
8347  551  27.0       1   42  522.0      0         0   22.0   white      0
8348  551  27.0       1   42  523.0      0         0   27.0   asian      1
8349  551  27.0       1   42  524.0      0         0   25.0   asian      1
8350  551  27.0       1   42  525.0      0         0   24.0   white      1
8351  551  27.0       1   42  526.0      0         0   26.0  latino      1
8352  551  27.0       1   42  527.0      0         0   24.0   other      0
8353  551  27.0       1   42  528.0      0         0   29.0  latino      1
8354  551  27.0       1   42  529.0      0         0   22.0   asian      1
8355  551  27.0       1   42  530.0      0         0   22.0   asian      0
8356  552  25.0       1   44  509.0      1         0   28.0   asian      1
8358  552  25.0       1   44  511.0      0         0   23.0   asian      1
8361  552  25.0       1   44  514.0      0         1   23.0   white      1
8363  552  25.0       1   44  516.0      1         0   27.0   asian      1
8364  552  25.0       1   44  517.0      0         0   30.0  latino      0
8365  552  25.0       1   44  518.0      0         1   23.0   white      1
8366  552  25.0       1   44  519.0      0         1   26.0   white      0
8367  552  25.0       1   44  520.0      0         0   28.0   other      0
8368  552  25.0       1   44  521.0      0         1   26.0   white      1
8369  552  25.0       1   44  522.0      0         1   22.0   white      1
8370  552  25.0       1   44  523.0      0         0   27.0   asian      1
8372  552  25.0       1   44  525.0      0         1   24.0   white      0
8374  552  25.0       1   44  527.0      0         0   24.0   other      0
8375  552  25.0       1   44  528.0      0         0   29.0  latino      0
8377  552  25.0       1   44  530.0      0         0   22.0   asian      1

     ...   yoga dec  attr  sinc intel   fun   amb  like  prob  met
30   ...    8.0   0   4.0  10.0   8.0   5.0   8.0   6.0   7.0  2.0
31   ...    8.0   0   8.0   7.0   8.0  10.0   7.0   8.0   1.0  1.0
32   ...    8.0   0   4.0   7.0   8.0   8.0   6.0   4.0   1.0  2.0
33   ...    8.0   1   8.0  10.0   7.0  10.0   7.0   8.0  10.0  1.0
34   ...    8.0   0   6.0   9.0   8.0   9.0   8.0   7.0   7.0  2.0
35   ...    8.0   0   5.0  10.0   8.0   4.0   8.0   4.0   3.0  2.0
36   ...    8.0   0   7.0  10.0  10.0   7.0  10.0   5.0   1.0  2.0
37   ...    8.0   0   5.0   9.0   9.0   5.0   9.0   6.0   6.0  2.0
38   ...    8.0   1   9.0   8.0  10.0  10.0   7.0   8.0   8.0  2.0
39   ...    8.0   1   8.0   9.0  10.0  10.0   8.0  10.0   8.0  2.0
40   ...    3.0   0   5.0   8.0   8.0   2.0   2.0   7.0   5.0  2.0
41   ...    3.0   0   8.0   6.0   6.0   5.0   5.0   6.0   4.0  1.0
42   ...    3.0   0   4.0   6.0   8.0   8.0   6.0   6.0   5.0  1.0
43   ...    3.0   1   8.0   5.0   5.0   7.0   7.0   8.0   2.0  1.0
44   ...    3.0   0   6.0   7.0   7.0   5.0   4.0   7.0   4.0  2.0
45   ...    3.0   1   5.0   6.0   7.0   5.0   7.0   7.0   3.0  2.0
46   ...    3.0   1   6.0   6.0   8.0   5.0   5.0   6.0   3.0  2.0
47   ...    3.0   1   5.0   5.0   7.0   6.0   7.0   6.0   4.0  2.0
48   ...    3.0   1   7.0   5.0   7.0   8.0   7.0   9.0   4.0  2.0
49   ...    3.0   1   9.0   6.0   7.0   9.0   6.0  10.0   3.0  2.0
50   ...    1.0   1   6.0   9.0   7.0   6.0   7.0   6.0   6.0  2.0
51   ...    1.0   1   6.0   9.0   9.0   6.0   8.0   7.0   6.0  2.0
52   ...    1.0   0   4.0   7.0   9.0   4.0   3.0   6.0   2.0  1.0
53   ...    1.0   1   8.0   6.0   7.0   8.0   2.0   9.0   4.0  2.0
54   ...    1.0   0   5.0   4.0   8.0   8.0   4.0   4.0   3.0  1.0
55   ...    1.0   0   3.0   7.0   6.0   1.0   1.0   2.0   2.0  2.0
56   ...    1.0   1   8.0   8.0   8.0   8.0   3.0   8.0   7.0  2.0
57   ...    1.0   0   4.0   8.0   9.0   2.0   8.0   5.0   5.0  2.0
58   ...    1.0   1   7.0   6.0   8.0   8.0   6.0   9.0   6.0  2.0
59   ...    1.0   1   8.0   9.0   9.0   9.0  10.0   9.0   8.0  2.0
...  ...    ...  ..   ...   ...   ...   ...   ...   ...   ...  ...
8340 ...    1.0   1   9.0   7.0   8.0   7.0   7.0   8.0   3.0  0.0
8341 ...    1.0   1   5.0   6.0   7.0   7.0   7.0   7.0   9.0  0.0
8342 ...    1.0   0   6.0   7.0   7.0   6.0   5.0   6.0   1.0  0.0
8343 ...    1.0   1   8.0   5.0   5.0   7.0   7.0   7.0   3.0  0.0
8345 ...    1.0   0   5.0   6.0   7.0   7.0   6.0   8.0   3.0  0.0
8346 ...    1.0   1   8.0   7.0   8.0   6.0   6.0   7.0   5.0  0.0
8347 ...    1.0   1   7.0   7.0   8.0   4.0   7.0   7.0   6.0  0.0
8348 ...    1.0   0   4.0   8.0   7.0   7.0   6.0   8.0   7.0  0.0
8349 ...    1.0   0   6.0   7.0   7.0   6.0   9.0   7.0   1.0  0.0
8350 ...    1.0   0   5.0   7.0   8.0   5.0   6.0   6.0   7.0  0.0
8351 ...    1.0   0   7.0   7.0   7.0   7.0   7.0   8.0   1.0  1.0
8352 ...    1.0   0   6.0   6.0   6.0   6.0   6.0   6.0   1.0  1.0
8353 ...    1.0   0   7.0   7.0   7.0   7.0   7.0   9.0   1.0  1.0
8354 ...    1.0   0   5.0  10.0  10.0   8.0   6.0   8.0   5.0  0.0
8355 ...    1.0   0   4.0   9.0   9.0   7.0   7.0   7.0   5.0  0.0
8356 ...    3.0   1   7.0   7.0   9.0   8.0   9.0   8.0   5.0  0.0
8358 ...    3.0   0   7.0   5.0   5.0   4.0   5.0   4.0   6.0  0.0
8361 ...    3.0   0   4.0   6.0   8.0   7.0   8.0   6.0   9.0  0.0
8363 ...    3.0   1   8.0   7.0   8.0   9.0   8.0   8.0   6.0  0.0
8364 ...    3.0   1   6.0   9.0   9.0   9.0   8.0   7.0   6.0  0.0
8365 ...    3.0   0   5.0   8.0   8.0   7.0   7.0   6.0   7.0  0.0
8366 ...    3.0   0   3.0   4.0   7.0   6.0   6.0   6.0   4.0  0.0
8367 ...    3.0   0   2.0   7.0   6.0   6.0   6.0   5.0   5.0  0.0
8368 ...    3.0   0   3.0   4.0   6.0   4.0   4.0   4.0   5.0  0.0
8369 ...    3.0   0   3.0   3.0   9.0   6.0   9.0   6.0   3.0  0.0
8370 ...    3.0   0   2.0   7.0   9.0   8.0   7.0   6.0   6.0  0.0
8372 ...    3.0   0   7.0   5.0   5.0   5.0   6.0   4.0   4.0  0.0
8374 ...    3.0   0   4.0   6.0   8.0   4.0   4.0   4.0   4.0  0.0
8375 ...    3.0   0   4.0   7.0   8.0   8.0   8.0   6.0   5.0  0.0
8377 ...    3.0   0   3.0   7.0   6.0   4.0   8.0   4.0   5.0  0.0

[7065 rows x 45 columns]>